@media screen and (orientation:portrait) {
  .GameBoard-Quests {
    width: 100%;
  }
  
  .GameBoard-VoteTrackerBoard {
    padding-left: 0.75rem;
  }
}

@media screen and (orientation:landscape) {
  .GameBoard-Quests {
    width: 50%;
  }
  
  .GameBoard-VoteTrackerBoard {
    padding-left: 0.4rem;
  }
}

.GameBoard {
  height: 9rem;
  width: 100%;
  padding: 0.5rem 0rem 1rem; /* top | left/right | bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid black;
}

.GameBoard-Quests {
  display: inline-flex;
  flex-direction: row;
  margin-right: auto;
  text-align: center;
}

.QuestMarker {
  padding: 0.25rem;
  text-align: center;
  margin: 0rem auto;
}

.QuestMarkerImage {
  width: 3.5rem;
  pointer-events: none;
}

.GameBoard-VoteTrackerBoard {
  display: inline-flex;
  flex-direction: row;
  margin-right: auto;
  text-align: center;
}

.VoteTracker {
  padding: 0.1rem;
  text-align: center;
  margin: 0rem auto;
}

.VoteTrackerImage {
  width: 2.5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .QuestMarkerImage {
    animation: QuestMarkerImage-spin infinite 20s linear;
  }
}

@keyframes QuestMarkerImage-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
