.vertical-select {
  margin: auto 0rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.vertical-select-buttons {
  margin: 0.5rem;
  text-align: center;
}

